
@{
    ViewBag.Title = "Pais";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<form runat="server">
    <div class="row">
        <div class="col s12 m6 l4">
            <div class="row">
            </div>
        </div>
        <div class=" col s12 m6 l8">
            <div class="row">
                <div class="col s12 m6 l4">
                    <asp:ImageButton ID="mx" runat="server" ImageUrl="images/flags/1x1/mx.svg" CssClass="circle" Height="100px" Width="100px" />
                    <img src="~/images/"
                </div>
                <div class="col s12 m6 l4">
                    <asp:ImageButton ID="pr" runat="server" ImageUrl="images/flags/1x1/pr.svg" CssClass="circle" Height="100px" Width="100px"/>
                </div>
                <div class="col s12 m6 l4">
                    <asp:ImageButton ID="ec" runat="server" ImageUrl="images/flags/1x1/ec.svg" CssClass="circle" Height="100px" Width="100px"/>
                </div>
            </div>
        </div>
    </div>
</form>

